@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: #000000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: #ffffff;
    }
}

body {
    color: var(--foreground-rgb);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    h1 {
        @apply text-4xl font-bold;
    }
    h2 {
        @apply text-2xl font-bold;
    }
    h3 {
        @apply text-xl font-bold;
    }
    h4 {
        @apply text-lg font-bold;
    }
}
